@import 'reset.css';

body {
    font-size: 16px;
    font-family: 'Clash Display', sans-serif;
}

/* Custom css */
/* Head and Hero section start */
.header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 25px 0;
    background: transparent;
    position: absolute;
}

.logo {
    margin-left: 48px;
}

.navigation {
    width: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.navbar_menu_left {
    display: flex;
    align-items: center;
}

.navbar_menu_left a {
    text-decoration: none;
    color: #222;
    padding: 0px 20px;
}

.navbar_menu_left a:hover {
    color: #277a8c;
}

.nav_service_wrapper {
    display: flex;
    padding: 0px 20px;
    align-items: center;
    cursor: pointer;
}

#nav_ser_wrap:hover+.nav_dropdown {
    display: block;
}

.nav_dropdown {
    width: 80%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    margin-top: 250px;
    margin-left: -280px;
    background-color: white;
    display: none;
}

.nav_dropdown_list {
    width: 30%;
    display: flex;
}

.nav_dropdown_list img {
    height: 40px;
    width: 40px;
}

.nav_dropdown_list h3 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
}

.nav_dropdown_list p,
.nav_dropdown_listh3 {
    padding: 10px 10px;
}

.navbar_menu_right {
    margin-right: 48px;
}

.common_btn {
    padding: 12px 32px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: #A7E4F2;
    cursor: pointer;
    font-family: 'Clash Display', sans-serif;
}

.common_btn:hover {
    background-color: #277A8C;
    color: #A7E4F2;
}

.nav_hamburger {
    display: none;
    width: 100px;
}

.nav_dropdown img {
    width: 100%;
}

.container {
    padding: 0px 24px;
}

.hero {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 40px;
}

.hero_content,
.hero_img {
    width: 45%;
}

.hero_img img {
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.subheading {
    display: flex;
    align-items: center;
    font-size: .875rem;
    font-weight: 500;
    letter-spacing: 3px;
    color: #277A8C;
}

.subheading_icon {
    width: 1.5rem;
    height: 0.125rem;
    background-color: #277A8C;
    border-radius: 0.1rem;
    margin: 0px 5px;
}

.hero_content {
    padding-left: 20px;
    /* min-width: 45%; */
    margin-top: 10%;
}

.hero_content h1 {
    font-size: 5rem;
    font-weight: 400;
    line-height: 1;
}

.hero_content p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: #222;
}

.hero_btn_wrap {
    margin-top: 30px;
    display: flex;
    width: 90%;
}

.hero_btn_wrap a {
    text-decoration: none;
    color: #222;
    padding: 1rem 2rem;
    text-align: center;
}

.book_btn {
    margin-left: 20px;
}

.call_btn {
    border: 2px solid #277A8C;
    background-color: #fff;
    margin-left: 20px;
}

@media screen and (max-width: 990px) {
    .navigation {
        display: none;
    }

    .header {
        justify-content: space-between;
    }

    .nav_hamburger {
        display: block;
        margin-right: 5%;
    }

    .hero {
        flex-direction: column;
    }

    .hero_content {
        width: 90%;
        margin-bottom: 40px;
    }

    .hero_img {
        width: 100%;
    }

    .hero_img img {
        border-radius: 30px;
    }

    .hero_content h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 768px) {
    .hero_content h1 {
        font-size: 3rem;
    }

    .subheading {
        margin-top: 40px;
    }

}

@media screen and (max-width: 768px) {
    .hero_content h1 {
        font-size: 3rem;
    }

    .subheading {
        margin-top: 40px;
    }

}

@media screen and (max-width:479px) {
    .hero_content h1 {
        font-size: 2.5rem;
    }

    .hero_btn_wrap {
        flex-direction: column;
    }

    .book_btn {
        margin-bottom: 20px;
    }

    .subheading {
        font-size: .700rem;
    }

}

@media screen and (max-width:375px) {
    .hero_content h {
        font-size: 2rem;
    }

    .hero_content p {
        font-size: 1rem;
    }

    .container {
        padding: 0px 12px;
    }

    .book_btn {
        font-size: 0.9rem
    }

    .call_btn {
        font-size: 0.9rem;
    }
}

/* Head, hero section end */

/* Exceptional Section Started  */

.exceptionalContentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.exceptional_img,
.exceptional_content {
    width: 48%;
}

.exceptionalContentWrapper img {
    width: 100%;
    border-radius: 2rem;
}

.exceptional_content h2 {
    font-size: 4rem;
    line-height: 4rem;
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
}

.exceptional_content p {
    font-size: 1.2rem;
    font-weight: 280;
    line-height: 1.2rem;
    margin: 20px 0;
}

.done_list {
    display: flex;
    align-items: center;
}

.doneListWrapper img {
    width: 20px;
    height: 20px;
}

.learn_more {
    font-family: 'Clash Display', sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #9AD9E8;
    padding: 15px;
    cursor: pointer;
}

.learn_more:hover {
    color: #9AD9E8;
    background-color: #277A8C;
}

@media screen and (max-width: 768px) {
    .exceptionalContentWrapper {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    .exceptional_content {
        width: 100%;
        padding: 40px 40px;
    }

    .exceptional_content h2 {
        font-size: 2rem;
    }

    .exceptional_img {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width:479px) {
    .exceptional_content h2 {
        line-height: 2rem;
    }

    .exceptional_content p {
        font-size: 1rem;
    }

    .done_list p {
        line-height: 1;
    }
}

/* Exceptional Section Ended  */
/* Our Services section start */

.services {
    padding: 3.2rem 2.5rem;
    background-color: #277A8C;
}

.serv_subhead {
    color: #A7E4F2;
}

.subh_icon {
    background-color: #a7e4f2;
}

.service_head_wrap {
    width: 100%;
    max-width: 48rem;
}

.service_head_wrap h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 10px;
    color: #ffffff;
}

.service_head_wrap p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.3;
    padding-bottom: 40px;
    color: #ffffff;
}

.services_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    align-items: start;
    justify-items: start;
}

.services_items {
    width: 100%;
    flex-direction: column;
}

.services_icons img {
    height: 36px;
    width: 36px;
}

.services_icons {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #a7e4f2;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.services_items h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    padding: 1.5rem 0;
    color: #ffffff;
}

.services_items p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
}

.services_items a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #a7e4f2;
    margin-top: 40px;
}

.arrow_icon_wrap {
    margin-right: 5px;
}

.arrow_icon_wrap img {
    height: 30px;
    width: 30px;
}

@media screen and (max-width:990px) {
    .services_list {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .service_head_wrap h2 {
        font-size: 2.5rem;
        font-weight: 400;
    }

    .services_items p {
        font-size: 1.125;
    }

    .services_items h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:479px) {
    .service_head_wrap h2 {
        font-size: 2.2rem;
    }

    .services_items p {
        font-size: 1.125rem;
    }

    .services_items h3 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width:375px) {
    .service_head_wrap p {
        font-size: 1.125rem;
    }

    .services_items p {
        font-size: 1.125rem;
    }
}

/* Our services section end */

/* Our team section start */
.team {
    padding: 3.2rem 2.5rem;
}

.team h2 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.1;
    padding: 10px 0px;
}

.team p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    padding-bottom: 40px;
}

.team_head_wrap {
    width: 100%;
    max-width: 48rem;
}

.team_list {
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    justify-items: center;
}

.team_item {
    width: 100%;
}

.team_img_wrap {
    width: 100%;
}

.team_img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.team_name {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

.team_role {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
}

@media screen and (max-width:990px) {
    .team_list {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .team {
        padding: 3.2rem 1.15rem;
    }

    .team_head_wrap h2 {
        font-size: 2.5rem;
    }

    .team_head_wrap p {
        font-size: 1.125rem;
    }
}

@media screen and (max-width:479px) {
    .team_head_wrap h2 {
        font-size: 2.2rem;
    }

    .team_head_wrap p {
        font-size: 1rem;
    }
}

/* Our team section end */

/* Review Section start */
.review {
    padding: 3.2rem 2.5rem;
}

.review_head_wrap {
    width: 100%;
    max-width: 48rem;
}

.review_head_wrap h2 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 10px;
}

.review_head_wrap p {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.3;
    padding-bottom: 40px;
}

.review_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
}

.review_items {
    width: 100%;
}

.review_star_wrapper {
    display: flex;
}

.star_img {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review_items p {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px 0px;
}

.author_wrapper {
    display: flex;
    margin-top: 30px;
}

.author_img {
    width: 56px;
    height: 56px;
    margin-right: 1rem;
}

.author_img img {
    width: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .review {
        padding: 3.2rem 1.15rem;
    }

    .review_list {
        grid-template-columns: 1fr;
    }

    .review_items {
        width: 100%;
    }

    .review_head_wrap h2 {
        font-size: 2.5rem;
        line-height: 1.1;
    }

    .review_head_wrap p {
        font-size: 1.125rem;
    }

    .review_items p {
        font-size: 1.125rem;
    }
}

@media screen and (max-width:479px) {
    .review_head_wrap h2 {
        font-size: 2.2rem;
    }

    .review_head_wrap p {
        font-size: 1rem;
    }

    .review_items p {
        font-size: 1rem;
    }

    .author_wrapper {
        margin-top: 20px;
    }
}

/* Review section end */

/* Why us Section Started  */

.whyUsContentWrapper {
    background-color: #277A8C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.whyUsContent,
.whyUsImg {
    width: 48%;
}

.whyUsContent h2 {
    color: #fff;
    font-size: 3.85rem;
    line-height: 4rem;
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
}

.whyUsContent p {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 280;
    line-height: 1.25rem;
    margin: 20px 0;
}

.keyListWrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
    color: #fff;
    margin-top: 40px;
}

.keyListWrapper h3 {
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 2rem;
}

.keyListWrapper p {
    font-size: 1rem;
    font-weight: 250;
    line-height: 1.2rem;
}

.whyUsContentWrapper img {
    width: 100%;
    border-radius: 2rem;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .whyUsContentWrapper {
        display: flex;
        flex-direction: column;
        background-color: #277A8C;
        padding: 40px 24px;
    }

    .whyUsContent {
        width: 100%;
    }

    .whyUsContent h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .keyListWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }

    .whyUsImg {
        width: 100%;
    }
}

/* Why us Section Ended  */
/* Reach Out Section Started */

.reach_out_wrapper {
    background-color: #277A8C;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 30px;
    border-radius: 20px;
}

.reach_out {
    width: 65%;
}

.reach_out_wrapper h2 {
    color: #fff;
    font-size: 4rem;
    line-height: 4rem;
    font-family: 'Clash Display', sans-serif;
    font-weight: 400;
}

.book_appointment {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.book_appointment button {
    font-family: 'Clash Display', sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #9AD9E8;
    padding: .75rem 2rem;
    cursor: pointer;
    margin-bottom: 10px;
}

.book_appointment button:hover {
    color: #9AD9E8;
    background-color: #277A8C;
}

.book_appointment_list {
    display: flex;
    align-items: center;
    line-height: 1.5rem;
}

.book_appointment_list p {
    padding: .25rem;
}

.book_appointment_list img {
    margin-right: 20px;
}

.book_appointment_list p {
    color: #fff;
    font-size: 1rem;
}

@media screen and (max-width: 990px) {
    .reach_out_wrapper {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .reach_out {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .reach_out_wrapper h2 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 20px;
    }

    .book_appointment button {
        padding: 10px;
    }

    .book_appointment {
        width: 100%;
    }
}

/* Reach Out Section Ended  */

/* Blog section start */
.blog {
    padding: 3.2rem 2.5rem;
}

.blog_head_wrap {
    width: 100%;
}

.blog_head_wrap h2 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 10px;
}

.blog_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    grid-auto-columns: 1fr;
    align-items: start;
    justify-items: center;
    margin-top: 40px;
}

.blog_items {
    width: 100%;
}

.blog_items img {
    width: 100%;
    border-radius: 20px;
    margin: 10px 0px;
}

.blog_items h3 {
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    line-height: 1.5;
}

.blog_items h3:hover {
    color: #277a8c;
}

.blog_items p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    padding: 10px 0px;
}

.blog_items a {
    text-decoration: none;
    color: #a7e4f2;
    display: flex;
    align-items: center;
}

@media screen and (max-width:990px) {
    .blog_list {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .blog {
        padding: 3.2rem 1.15rem;
    }

    .blog_head_wrap h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:479px) {
    .blog_head_wrap h2 {
        font-size: 2.2rem;
    }
}

/* Blog section end */
